<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pawanstorageservice;AccountKey=BdBxzIL+QQLcxB4NJ/c1X2SojN1ZnTEjEYJdb98QR//iBR7OntSseAM++XmaEALiMGP3UZpjCrWmK8T4t1yJcw==" />
  </appSettings>
</configuration>